<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}AdmingeneratorGeneratorBundle{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets              
                'bundles/admingeneratorgenerator/css/ui-lightness/jquery-ui-1.10.3.custom.css'
                'bundles/admingeneratorgenerator/css/colorbox.css'
                'bundles/admingeneratorgenerator/css/admin.less' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% block javascript_head %}
            {% javascripts
                'components/jquery/jquery.js'           
                '@AdmingeneratorGeneratorBundle/Resources/public/js/jquery-ui-1.10.3.custom.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/common.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/menu.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/jquery.colorbox.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/jquery.nl-admin-tab.js' %}
                <script src="{{ asset_url }}"></script>           
            {% endjavascripts %}
            
            {# Календарь перевод #}
            {% if app.request.locale == 'ru' %}
                {% javascripts
                    '@AdmingeneratorGeneratorBundle/Resources/public/js/i18n/jquery.ui.datepicker-ru.js' %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}        
            {% elseif app.request.locale == 'uk' %}        
                {% javascripts
                    '@AdmingeneratorGeneratorBundle/Resources/public/js/i18n/jquery.ui.datepicker-uk.js' %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}        
            {% endif %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="header">
            {% block header %}

                {% block logo %}
                {% endblock %}

                {% block profile %}
                    {% if app.user %}
                        <div class="profile">
                            <a href="#">{{ app.user }}</a>
                            {% set logout_path = (admingenerator_config('logout_path') is not null) ? path(admingenerator_config('logout_path')) : '#' %}
                            <a class='logout' href="{{ logout_path }}">{{ 'profile.logout'|trans({}, 'Admingenerator') }}</a>
                        </div>
                    {% endif %}
                {% endblock %}
                {% block menu %}
                <div class="main_menu">
                     {{ millwright_menu_render('main') }}
                </div>
                {% endblock %}

            {% endblock %}
        </div>

        {% block flashes %}
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="notification_box {{ type }}">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}

        <div class="content">
            {% block body %}{% endblock %}
        </div>

            {% block javascripts %}
    {% endblock %}
    </body>
</html>
