<tr iteration="{{ iteration }}">    
    <td class="product_info" style="width:20%">
        {% if orderEntry.vars.value.getproduction %}
        <div style="display: none;">
        {{ form_errors(orderEntry.productName) }}
        {{ form_widget(orderEntry.productName) }}
        </div>
        {{ orderEntry.vars.value.getproduction.getName  }}
        {% else %}
        {{ form_errors(orderEntry.productName) }}
        {{ form_widget(orderEntry.productName) }}
        {% endif %}
        {{ form_errors(orderEntry.production) }}
        {{ form_widget(orderEntry.production) }}
    </td>
    <td class="">    
        {{ form_errors(orderEntry.orientation) }}
        {{ form_widget(orderEntry.orientation) }}
    </td>
    <td class="">
        {{ form_errors(orderEntry.quantity) }}
        {{ form_widget(orderEntry.quantity) }}
    </td>
    <td class="">
        {{ form_errors(orderEntry.price) }}
        {{ form_widget(orderEntry.price) }}
    </td>
    <td class="">
        {{ form_errors(orderEntry.assemblyCost) }}
        {{ form_widget(orderEntry.assemblyCost) }}
    </td>
    <td class="delete">
        <a href="javascript:void(0);" alt="Удалить" onclick="delProductOE(this)">X</a>
    </td>
</tr>