<tr  class="_cart_product" iteration="__iteration__" >
    <td class="number order_entry_total">
        <div class="product_standart">
        {{ form_widget(form.add_order_entry)|e }}
        {{ form_errors(form.add_order_entry)|e }}
        </div>
        <div class="product_no_standart" style="display: none" >
        {{ form_widget(orderEntryForPrototype.vars.prototype.productName)|e }}
        </div>
        {{ form_widget(orderEntryForPrototype.vars.prototype.production)|e }}
    </td>
    <td class="price">
        {{ form_widget(orderEntryForPrototype.vars.prototype.orientation)|e }}
    </td>
    <td>
        {{ form_widget(orderEntryForPrototype.vars.prototype.quantity)|e }}
    </td>
    <td class="price">
        {{ form_widget(orderEntryForPrototype.vars.prototype.price)|e }}
    </td>
    <td class="currency">
        {{ form_widget(orderEntryForPrototype.vars.prototype.assemblyCost)|e }}
    </td>
    <td class="delete">
        <a href="javascript:void(0);" alt="Удалить" onclick="delProductOE(this)">X</a>
    </td>
</tr>
