{% extends_admingenerated "NitraTopsBundle:OrdersList:row.html.twig" %}

{% block list_td_column_status %}

    {% set statusArray = {'Новый':'new','Обработано':  'process', 'Подготовка документов':'pre_document', 'Передано на производство':'to_work','В работе':'work', 'Готов':'ready', 'Отгружено':'shipped'} %}

{#    {% set statusArray = {'new':'Новый', 'process':'Обработано', 'pre_document':'Подготовка документов', 'to_work':'Передано на производство','work':'В работе', 'ready':'Готов', 'shipped':'Отгружено'} %}#}
    {% set status = Orders.status %}   

<img title="{{ status }}" alt="{{status}}" 
     src="{{ asset('bundles/nitratops/images/order_' ~ statusArray[status] ~ '.png') }}" />


<div>
    {% for key,value in statusArray %}
       {% if status != key %}
    <a href="javascript:void(0);"
       onclick="setStatus({{Orders.id }},'{{ key}}');" >
        <img title="{{ key }}" alt="{{key}}" 
             src="{{ asset('bundles/nitratops/images/order_' ~ value ~ '.png') }}" />
    </a>
        {% endif %}
    {% endfor %}
</div>
{% endblock list_td_column_status %}

    {% block list_td_column_orderEntry %}
    {% include "NitraTopsBundle:OrdersList:row.column.orderEntry.html.twig" %}
    {% endblock list_td_column_orderEntry %}
